<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <title>CheckIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="src/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="themes/theme.css">
    <script src="src/angularjs/angular.min.js"></script>
    <script src="src/angularjs/angular-route.min.js"></script>
    <script src="src/jQuery/jquery-3.3.1.js"></script>
    <script src="src/bootstrap/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="pages//ground-for-the-house/groundForTheHouseController.js"></script>
    <script src="pages/most-numbers/mostNumbersController.js"></script>
    <script src="pages/navigation/navigationController.js"></script>
    <script src="pages/the-stone-wall/theStoneWallController.js"></script>
    <script src="pages/wild-dogs/wildDogsController.js"></script>
    <base href="/">
</head>

<body ng-controller="MainPageController">
    <div class="app-menu">
        <ul>
            <li class="app-menu-content" ng-repeat="task in listOfDirectives track by $index">
                <a class="app-menu-content item" href="{{task.page}}">
                    <img class="info-icon" src="themes/img/icons/info-icon.png">
                </a>
                <a class="app-menu-content item" ng-click="changeDirective($index)" href="{{task.url}}">{{task.name}}</a>
            </li>
        </ul>
    </div>
    <div class="welcome" ng-if="!activeDirective">{{welcomeText}}</div>
    <div ng-view></div>
</body>

</html>